<!DOCTYPE html SYSTEM
        "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <style>
        /* Custom style for the red asterisk */
        .required::after {
            content: "*";
            color: red;
            margin-right: 2px;
        }
    </style>
    <meta charset="UTF-8">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/navbars/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link rel="stylesheet"
          href="https://getbootstrap.com/docs/5.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href ="@{/static/css/style.css}" />

    <title>Sky Explorer | Flight Booking Service</title>
</head>
</html>