<!--<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<!--<head>-->
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"-->
<!--        integrity="sha512-ZfnkCG4vtMJ5+eGDJ7zRJR6pVGXZ1VcW9r/oojx2GQPygzPb7M+CAdXdp4jc+ra93IU5rOP50j5eL87dFjT1Mw=="-->
<!--        crossorigin="anonymous"/>-->
<!--  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet"/>-->
<!--  <style>-->
<!--    body {-->
<!--      font-family: 'DM Sans', sans-serif;-->
<!--      background-color: #f8f9fa;-->
<!--      padding-top: 20px;-->
<!--    }-->

<!--    .dashboard-header {-->
<!--      text-align: center;-->
<!--      background-color: #343a40;-->
<!--      color: #ffffff;-->
<!--      padding: 20px;-->
<!--      margin-bottom: 20px;-->
<!--      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);-->
<!--    }-->

<!--    .table-container {-->
<!--      margin: 20px;-->
<!--    }-->

<!--    table {-->
<!--      width: 100%;-->
<!--      border-collapse: collapse;-->
<!--      margin-top: 20px;-->
<!--    }-->

<!--    th, td {-->
<!--      border: 1px solid #dee2e6;-->
<!--      padding: 8px;-->
<!--      text-align: left;-->
<!--    }-->

<!--    th {-->
<!--      background-color: #343a40;-->
<!--      color: white;-->
<!--    }-->

<!--    .action-buttons {-->
<!--      text-align: right;-->
<!--    }-->

<!--    .update-button, .delete-button {-->
<!--      padding: 8px 16px;-->
<!--      margin-right: 10px;-->
<!--      border: none;-->
<!--      border-radius: 4px;-->
<!--      cursor: pointer;-->
<!--      transition: background-color 0.3s;-->
<!--    }-->

<!--    .update-button {-->
<!--      background-color: #007bff;-->
<!--      color: #fff;-->
<!--    }-->

<!--    .update-button:hover {-->
<!--      background-color: #0056b3;-->
<!--    }-->

<!--    .delete-button {-->
<!--      background-color: #dc3545;-->
<!--      color: #fff;-->
<!--    }-->

<!--    .delete-button:hover {-->
<!--      background-color: #c82333;-->
<!--    }-->

<!--    .back-home-button {-->
<!--      position: absolute;-->
<!--      top: 50px;-->
<!--      right: 20px;-->
<!--      background-color: #007bff;-->
<!--      color: #fff;-->
<!--      padding: 4px 8px;-->
<!--      border: none;-->
<!--      border-radius: 4px;-->
<!--      cursor: pointer;-->
<!--      transition: background-color 0.3s;-->
<!--    }-->

<!--    .back-home-button:hover {-->
<!--      background-color: #0056b3;-->
<!--    }-->
<!--  </style>-->
<!--  <title></title>-->
<!--</head>-->

<!--<body>-->

<!--<div class="dashboard-header">-->
<!--  <h1>Sky Explorer | Dashboard</h1>-->
<!--  <a th:href="@{/}" class="back-home-button"><i class="fas fa-home"></i> Back Home</a>-->
<!--</div>-->

<!--<div class="table-container">-->
<!--  <table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>First Name</th>-->
<!--      <th>Last Name</th>-->
<!--      <th>Telephone</th>-->
<!--      <th>Email</th>-->
<!--      <th>Flight Type</th>-->
<!--      <th>Airline</th>-->
<!--      <th>Booking Date</th>-->
<!--      <th>Action</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="flightBooking : ${flightBooking}">-->
<!--      <td th:text="${flightBooking.passengerFirstName}"></td>-->
<!--      <td th:text="${flightBooking.passengerLastName}"></td>-->
<!--      <td th:text="${flightBooking.passengerTelephone}"></td>-->
<!--      <td th:text="${flightBooking.passengerEmail}"></td>-->
<!--      <td th:text="${flightBooking.flightType}"></td>-->
<!--      <td th:text="${flightBooking.airline}"></td>-->
<!--      <td th:text="${flightBooking.bookingDate}"></td>-->
<!--      <td class="action-buttons">-->
<!--        <a th:href="@{'/showUpdateFlightForm/' + ${flightBooking.id}}"><button class="update-button">-->
<!--          <i class="fas fa-edit"></i> Update-->
<!--        </button></a>-->
<!--        <a th:href="@{'/deleteFlight/' + ${flightBooking.id}}">-->
<!--          <button class="delete-button" th:href="@{'/deleteFlight/' + ${flightBooking.id}}"-->
<!--                  th:onclick="return confirm('Are you sure you want to delete?')">-->
<!--          <i class="fas fa-trash"></i> Delete-->
<!--        </button></a>-->
<!--      </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->

<!--<script src="https://kit.fontawesome.com/08d9b1877f.js" crossorigin="anonymous"></script>-->
<!--</body>-->
<!--</html>-->
