<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragments :: head}"></head>
<link rel="stylesheet" href="styles.css" />

<body>
<div style="text-align: center;">
  <h1>Sky Explorer | Dashboard</h1>
</div>
<div class="m-2">
  <a th:href="@{/ShowFlightForm}" class="btn btn-primary btn-sm mb-3" style="margin-left: 1150px;" >Book Flight</a>
</div>
<div th:if="${message}" th:class="'alert alert-' + ${color} + ' text-center'">
  [[${message}]]
</div>
<div th:each="flight : ${flights}">
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Flight Details : <span th:text="${flightBooking}"></span></h5>
      <p class="card-title">Passenger First Name : <span th:text="${flight.passegerFirstName}"></span></p>
      <p class="card-text">Passenger Last Name : <span th:text="${flight.passegerLastName}"></span></p>
      <p class="card-text">Passenger Telephone : <span th:text="${flight.passengerTelephone}"></span></p>
      <p class="card-text">Passenger Email : <span th:text="${flight.passengerEmail}"></span></p>
      <p class="card-text">Flight Type : <span th:text="${flight.flightType}"></span></p>
      <p class="card-text"> Airline : <span th:text="${flight.airline}"></span></p>
      <p class="card-text"> Flight Price : <span th:text="${flight.flightPrice}"></span></p>
      <p class="card-text"> Booking Date : <span th:text="${flight.bookingDate}"></span></p>
      
      



      <div class="text-right">
        <a class="btn btn-primary" th:href="@{'/updateFlightBookingRecord/' + ${hotel.id}}">Update</a>
        <a class="btn btn-danger" th:href="@{'/deleteFlight/' + ${hotel.id}}"
           th:onclick="return confirm('Are you sure you want to delete?')">Delete</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
