<!--<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<!--<head th:replace="~{fragments/fragments :: head}">-->
<!--  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet"/>-->
<!--  <style>-->
<!--    body {-->
<!--      font-family: 'DM Sans', sans-serif;-->
<!--      padding-top: 20px;-->
<!--      box-sizing: border-box;-->
<!--      background: linear-gradient(45deg, #ea99c3, #dedcdc);-->
<!--    }-->

<!--    h1 {-->
<!--      text-align: center;-->
<!--    }-->

<!--    .container {-->
<!--      margin: 0 auto;-->
<!--      width: 50%;-->
<!--    }-->

<!--    .form-group {-->
<!--      margin-bottom: 15px;-->
<!--      align-content: center;-->
<!--      justify-content: center;-->
<!--    }-->

<!--    label {-->
<!--      font-weight: bold;-->
<!--    }-->

<!--    .form-control {-->
<!--      width: 70%;-->
<!--      padding: 8px;-->
<!--      font-size: 14px;-->
<!--    }-->

<!--    select.form-control {-->
<!--      width: 70%;-->
<!--      padding: 8px;-->
<!--      font-size: 14px;-->
<!--    }-->

<!--    .text-center {-->
<!--      text-align: center;-->
<!--    }-->

<!--    .btn {-->
<!--      margin: 5px;-->
<!--      border-radius: 25px;-->
<!--      background-color: #f669b9;-->
<!--    }-->

<!--    .date-input-container {-->
<!--      position: relative;-->
<!--      width: 70%;-->
<!--      padding: 8px;-->
<!--      font-size: 14px;-->
<!--      cursor: pointer;-->
<!--    }-->

<!--  </style>-->
<!--</head>-->

<!--<body>-->

<!--<h1 style="text-align: center">Book Flight</h1>-->
<!--<div class="container mt-3" style="text-align: right;">-->
<!--  <a th:href="@{/}" class="btn btn-primary btn-sm" style="margin-right: 20px;">Back Home</a>-->
<!--</div>-->

<!--<form th:action="@{/saveFlightDetails}" th:method="post" th:object="${flightBooking}" class="container mt-3"-->
<!--      style="border: 1px solid #ccc; border-radius: 25px; padding: 20px; background-color: #fff;">-->

<!--  <div class="form-group row">-->
<!--    <label th:for="passengerFirstName" class="col-sm-4 col-form-label required">First Name</label>-->
<!--    <div class="col-sm-8">-->
<!--      <input type="text" th:field="*{passengerFirstName}" class="form-control" required>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="form-group row">-->
<!--    <label th:for="passengerLastName" class="col-sm-4 col-form-label required">Last Name</label>-->
<!--    <div class="col-sm-8">-->
<!--      <input type="text" th:field="*{passengerLastName}" class="form-control" required>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="form-group row">-->
<!--    <label th:for="passengerTelephone" class="col-sm-4 col-form-label required">Telephone</label>-->
<!--    <div class="col-sm-8">-->
<!--      <input type="text" th:field="*{passengerTelephone}" class="form-control" required>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="form-group row">-->
<!--    <label th:for="passengerEmail" class="col-sm-4 col-form-label required">Email</label>-->
<!--    <div class="col-sm-8">-->
<!--      <input type="text" th:field="*{passengerEmail}" class="form-control" required>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="form-group row date-input-container">-->
<!--    <label th:for="bookingDate" class="col-sm-4 col-form-label required">Booking Date</label>-->
<!--    <div class="col-sm-8">-->
<!--      <input type="date" th:field="*{bookingDate}" class="form-control" required>-->
<!--    </div>-->
<!--  </div>-->


<!--  <div class="form-group row">-->
<!--    <label th:for="flightType" class="col-sm-4 col-form-label required">Flight Type</label>-->
<!--    <div class="col-sm-8">-->
<!--      <select th:field="*{flightType}" class="form-control">-->
<!--        <option value="null" disabled>Flight Name</option>-->
<!--        <option value="Economy (200,000 Naira)">Economy (200,000 Naira)</option>-->
<!--        <option value="Business (1,000,000 Naira)">Business (1,000,000 Naira)</option>-->
<!--        <option value="First-Class (2,500,000 Naira)">First-Class (2,500,000 Naira)</option>-->
<!--      </select>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="form-group row">-->
<!--    <label th:for="airline" class="col-sm-4 col-form-label required">Airline</label>-->
<!--    <div class="col-sm-8">-->
<!--      <select th:field="*{airline}" class="form-control">-->
<!--        <option value="null" disabled>Airline</option>-->
<!--        <option value="ArikAir">ArikAir</option>-->
<!--        <option value="IbomAir">IbomAir</option>-->
<!--        <option value="FlyAero">FlyAero</option>-->
<!--        <option value="AirPeace">AirPeace</option>-->
<!--      </select>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="text-center">-->
<!--    <a th:href="@{/displayFlightBookingDetails}"><button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Submit</button></a>-->
<!--&lt;!&ndash;    <button type="button" class="btn btn-secondary" onclick="window.location.href='/displayFlightBookingDetails'"><i class="fas fa-times"></i> Cancel</button>&ndash;&gt;-->
<!--    <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>-->

<!--  </div>-->

<!--</form>-->

<!--<script type="text/javascript">-->
<!--  function cancelForm() {-->
<!--    window.location = "[[@{/}]]";-->
<!--  }-->
<!--</script>-->

<!--</body>-->
<!--</html>-->
